hr {
  border-style: none;
  border-top: dotted;
  border-color: #FC997C;
  border-width: 3px;
  width: 20%
}

body {
  background: #DADDFC;
}

h1 {
  color: #2E4C6D;
}

h3 {
  color: #2E4C6D;
}

table, td,th {

  border: 1px solid #FC997C;
  border-collapse: collapse;

}
